@tailwind base;
@tailwind components;
@tailwind utilities;

.cont {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: black;
  color: #bbb;
}
.categoryList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.categoryList:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
